---
layout: default
---
<article class="author-profile">
  <h1>{{ page.name }}</h1>
  <h2 class="author-position">{{ page.position }}</h2>
  <div class="author-bio">
    {{ content }}
  </div>
  <section class="author-posts">
    <h2>Posts</h2>
    <ul class="post-list">
      {% assign filtered_posts = site.posts | where: 'author', page.short_name %}
      {% for post in filtered_posts %}
        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </section>
</article>