---
layout: default
---
<h1>{{ page.name }}</h1>
<h2>{{ page.position }}</h2>
<p><strong>Location:</strong> Singapore, Singapore<br>
<strong>Email:</strong> liang.xiao.sde@gmail.com</p>
<p>Versatile Software Engineer with 9+ years of experience in Insurance and Banking. Skilled in full-stack development, system integration, and performance optimization. Passionate about delivering high-quality solutions that enhance user experience and drive customer satisfaction.</p>
<p><strong>Skills:</strong> Java, SQL, Git, Unix, Vue.js, JavaScript, Azure, HTML & CSS, jQuery, Python, Vim, React</p>
<p><a href="https://www.linkedin.com/in/your-linkedin" target="_blank" rel="noopener">LinkedIn</a> | <a href="https://github.com/your-github" target="_blank" rel="noopener">GitHub</a></p>

{{ content }}

<h2>Posts</h2>
<ul>
  {% assign filtered_posts = site.posts | where: 'author', page.short_name %}
  {% for post in filtered_posts %}
    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>